.navbar {
  min-height: 10vh;
  width: 100%;
  background-color: red;
  margin-bottom: 20px;
}

li a {
  text-decoration: none;
  text-align: center;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.left-sec {
  margin-right: 670px;

  font-size: 30px;
  border-radius: 50%;
  background-color: white;
  color: red;
  padding: 4px 9px 6px 9px;
}

.right-sec {
  margin-right: 140px;
  color: white;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.account {
  border: 1px solid white;
  padding: 5px;
  border-radius: 3px;
}

li {
  display: inline;
}

.heading {
  height: 51px;
  font-family: "Poppins";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: left;
  color: #192f60;
  margin-bottom: 10px;
  margin-left: 15px;
}

.filtercontainer {
  height: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-left: 10px;
}

.filter-options {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin-bottom: 10px;
  padding-bottom: 3%;
}

.Bakery-700 {
  height: 40px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.padding-left {
  padding-left: 60px;
}

.custom-button {
  color: black;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0 0 0 white;
}

.pagination {
  display: inline-block;
  margin-left: 175px;
  margin-top: -3px;
}

.pagination a {
  color: gray;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: solid 1px gray;
  border-radius: 15px;
  margin: 2px;
}

.Item {
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.big {
  display: inline-block;
  width: 68%;
}

.vertical {
  vertical-align: top;
}

.small {
  display: inline-block;
  width: 28%;
}

.big-item {
  display: inline-block;
  width: 68%;
}

.small-item {
  display: inline-block;
  width: 10%;
  margin-right: 14px;
}

.margin-left {
  margin-left: 7%;
}

@media only screen and (max-width: 600px) {
  .heading {
    width: 200%;
  }
  .navbar {
    width: 100%;
    flex-direction: column;
  }
  .Item {
    width: 100%;
    min-height: 200px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
  }

  .fimg {
    width: 100px;
    height: 100px;
  }
  .filter-options {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding-left: 30px;
    margin-bottom: 10px;
    min-width: 450px;
  }

  .big {
    display: block;
    width: 68%;
  }

  .small {
    display: inline-block;
    width: 28%;
  }

  .big-item {
    display: inline-block;
    width: 68%;
  }

  .small-item {
    display: inline-block;
    width: 28%;
    margin-right: 0px;
  }

  .padding-left {
    padding-left: 3px;
  }

  .rest-name {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    padding-left: 27px;
  }
  .rest-location {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: left;
    color: #192f60;
    padding-left: 27px;
  }

  .rest-address {
    height: 23px;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    text-align: left;
    color: #636f88;
    padding-left: 27px;
  }

  .toggle-span {
    float: right;
    padding: 15px 0px 5px 0px;
    display: initial;
  }

  .pagination {
    display: inline-block;
    margin-top: 25px;
    width: 380px;
    margin-left: 2px;
  }

}

.left-sec {
  @media (min-width: 451px) and (max-width: 750px) {
    
    margin-right: 70px;
  }
  @media (min-width: 751px) and (max-width: 1000px) {
    
    margin-right: 5px;
  }
}